// ----------------------------------------------
// Vars
// ----------------------------------------------

@import normalize
@import roboto
@import material-icons
$main-green: #388E3C
$main-blue: #3367d6

.grey
	color: #616161
// ----------------------------------------------
// Base
// ----------------------------------------------

*
	font-family: Roboto
	font-weight: 300
	font-size: 1em

a
	text-decoration: none
	color: black

html, body
	padding: 0
	margin: 0

html
	height: 100%

body
	min-height: 100%
	overflow: auto

#app
	min-height: 100vh
// ----------------------------------------------
// General
// ----------------------------------------------

h1
	font-size: 3.4em
	font-weight: 400

h2
	font-size: 2.4em
	font-weight: 300
	margin-top: 16px

.bigHeader
	font-size: 1.3em
	font-weight: 400
h3
	font-size: 1.3em
	font-weight: 400
	margin-bottom: 12px

h4
	font-size: 1.1em
	font-weight: 400
	margin: 5px 0 5px 0

.darkBG
	background-color: #212121
	width: 100%
	min-height: 100vh

.lightBG
	background-color: #EEEEEE
	width: 100%
	min-height: 100vh

.wrapper
	max-width: 1660px
	margin: 0 auto
	padding-top: 50px

.masonryComp
	margin: 0 auto

.tile>div>div:nth-child(2)
	padding-top: 0 !important

.dashboardTile
	width: 400px
	margin-bottom: 20px
	&>div
		padding-bottom: 0 !important

.settingsTile
	width: 600px
	margin-bottom: 20px

.settingsButton, .dashboardButton
	position: fixed
	right: 3%
	bottom: 40px
	z-index: 100

.cardTitle div span
	font-size: 1.8em !important
	font-weight: 300 !important

// DateTime card
#clock
	font-family: Roboto
	font-size: 4.9em
	font-weight: 200
	& span
		margin-left: 5px
		font-size: 0.8em
		font-weight: 100

#clock.center
	text-align: center

#date
	font-family: Roboto
	font-size: 1.3em
	font-weight: 200

.align-right
	text-align: right

//ComputerInfo card

.progress
	margin-bottom: 3px !important

//Power card
#battery-time
	font-size: 1.85em
	& .desc
		font-size: 0.5em
		font-weight: 200

#battery
	font-size: 1.85em
	line-height: 30px
	vertical-align: top
	& span
		display: inline-block
		position: relative
		vertical-align: top
	& .powerIcon
		display: inline-block
		position: relative
		font-size: 1em !important
		padding-top: 2px

.floatable
	overflow: auto

.floatLeft
	display: inline-block
	float: left

.floatRight
	display: inline-block
	float: right

//BookmarkCard
.linkButton
	margin: 0 10px 10px 0
	& button div div span:last-child
		font-size: 1em !important
		text-transform: none !important
		font-weight: 400 !important
		vertical-align: middle

.FolderDialogComponent:first-child>div>div>div>div:nth-child(2)
	padding: 0 !important
	transform: translateZ(0)
	&>div
		&>div>span, >a>div>span
			padding: 0 24px !important
		&>div>div
			padding: 0 24px !important
		&>div>.emptyMsg
			height: 16px
			line-height: 16px
			padding: 16px 24px 16px 40px !important

.backButton>div>div
	&>div
		font-weight: bold

//DownloadsCard
.fileButton
	margin: 0 10px 10px 0
	& button div div span:last-child
		font-size: 1em !important
		text-transform: none !important
		font-weight: 400 !important
		vertical-align: middle


//SettingsCard
.settingsCard
	& .settingsRow
		padding: 16px
	& p, h2
		padding: 0 16px
	& h3
		padding: 16px 16px 0
	&  .settingsRow
		font-size: 1.3em !important
		font-weight: 300 !important
